name: Run Script

on:
  schedule:
    - cron: '0 * * * *' # Запуск скрипта каждый час
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Restore last message
      uses: actions/download-artifact@v2
      with:
        name: last_message
        path: last_message.txt

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'

    - name: Install Chrome Driver
      run: |
        sudo apt-get update
        sudo apt-get install -y unzip xvfb libxi6 libgconf-2-4
        wget -N https://chromedriver.storage.googleapis.com/$(curl -sS https://chromedriver.storage.googleapis.com/LATEST_RELEASE)/chromedriver_linux64.zip -P ~/
        unzip ~/chromedriver_linux64.zip -d ~/
        sudo mv -f ~/chromedriver /usr/local/bin/chromedriver
        sudo chown root:root /usr/local/bin/chromedriver
        sudo chmod 0755 /usr/local/bin/chromedriver

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests selenium python-telegram-bot httpx webdriver_manager

    - name: Run script
      run: python telegram_message_copier.py

    - name: Save last message
      uses: actions/upload-artifact@v2
      with:
        name: last_message
        path: last_message.txt
